/* Adicione estas regras ao seu arquivo styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e3e3e3; /* Tema Claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease; /* Adicionando transição suave para mudança de tema */
}

#login-container {
    background-color: #fff; /* Branco para o tema claro */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    color: #000; /* Texto preto para o tema claro */
    width: 400px;
    max-width: 100%;
}

#logo {
    width: 300px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos para o formulário em layout horizontal */
.horizontal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    flex: 0 0 48%; /* Ajuste conforme necessário para o espaçamento desejado */
    margin-bottom: 10px;
}

/* Estilos para o contêiner do número de telefone com DDD em layout horizontal */
.phone-input-container {
    display: flex;
    align-items: baseline; /* Alinhar os itens pela base para ter a mesma altura */
}

/* Estilos para o campo de DDD */
#ddd {
    width: 60px; /* Ajuste conforme necessário */
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos para o campo de telefone */
#phone {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 5px; /* Adicionado margem à esquerda para separar os campos */
}

#submit {
    margin-top: 10px;
    background-color: #6a1b9a;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#theme-toggle img {
    width: 20px; /* Ajuste o tamanho conforme necessário */
}

a {
    text-decoration: none;
}

/* Estilos específicos para o modo escuro */
body.dark-mode {
    background-color: #1a1a1a; /* Tema Escuro */
    color: #fff; /* Texto branco para o tema escuro */
}

#login-container.dark-mode {
    background-color: #333; /* Cinza escuro para o tema escuro */
    color: #fff; /* Texto branco para o tema escuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input.dark-mode {
    background-color: #333; /* Cinza escuro para o tema escuro */
    color: #fff; /* Texto branco para o tema escuro */
    border: 1px solid #555; /* Borda mais escura para o tema escuro */
}

a.dark-mode {
    text-decoration: none;
    color: #fff;
}
